{
  "datacenter": "{{ consul_datacenter_name }}",
  "data_dir": "/var/run/consul",
  "bootstrap": false,
  "log_level": "INFO",
  "server": false,
  "enable_syslog": true,
  "client_addr": "0.0.0.0",
  "start_join": [ "{{ consul_server_name }}" ]
}
