[Unit]
Description=Consul
Requires=network.target network-online.target rsyslog.service
#After=network.target network-online.target rsyslog.service

[Service]
ExecStart=/usr/local/bin/consul agent -config-dir /etc/consul.d/ >/tmp/consul.log 2>&1 &
Restart=on-abort

[Install]
WantedBy=multi-user.target
